*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Inter;
    /* max-width: 1200px;
    margin: auto; */
}

header{
    top: 0;
    z-index: 5;
    /* background-color: #fbf8f3; */
}

header.scroll {
    /* background-color: #fbf8f3; */
}

.header-container{
    /* background-color: beige; */
    /* padding: 30px 120px; */
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto; /*usahakan max-width: px; margin:auto*/
}

.header-logo{
    font-weight: bold;
    font-size: larger;
}

#header-nav{
    /* width: 100%; */
    position: absolute;
    top: 35px;
    left: 410px;
    max-width: 100%;
    /* align-items: center; */
}

ul#header-nav{
    list-style: none;
    /* width: 100%; */
    
    /* background-color: chartreuse; */
}

ul#header-nav li{
    display: inline-block;
    margin-right: 30px;
    font-size: 1.0rem;
    color: black;
    /* background-color: cyan; */
}

.sign-up{
    width: 100px;
    padding: 17px 13px;
    background-color: #4d13d1;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.boxed-layout{
    max-width: 1000px;
    margin: auto;
}

/* main */
main{
    background: white;
}
.flex-box{
    display: flex;
    /* width: 1100px; */
    margin: auto;
    align-items: center;
    /* flex-direction: row; */
}
.main-section{
    background-color: #fbf8f3;
}

.section{
    background-color: #fbf8f3; 
    max-width: 100%; 
    margin: auto; 
    min-height: 100vh;
}

/* footer */
footer{
    background-color: #fbf8f3;
}