*{
    box-sizing: border-box;
}

body{
    background-color: white;
    /* background-color: red; */
    font-family: Inter, sans-serif;
}

.flex-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    min-height: 100vh;
}

.login-container{
    /* padding-top: 50px; */
    background-color: #f2f2f2;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;
    padding: 0px 100px;
}

.background-container{
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: rgb(88, 8, 216);
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 6em rgba(0,0,0,0.5), 0 0  0 1em rgb(255,255,255);
}
.img-signup{
    width: auto;
    height: 275px;
}

.background-container p{
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

.font-con{
    font-weight: bold;
    line-height: 1.25;
}

.form{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    line-height: 2;
}

.form input{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d6cfcf; 
    border-radius: 3px;
}

.password{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.password .hide-pass{
    position: absolute;
    top: 8px;
    right: 7px;
}

.inline{
    display:inline-flex;
    /* justify-content: center; */
    font-weight: 400;
    width: 100%;
    line-height: 1.4;
    padding-bottom: 15px;
    font-size: small;
    gap: 5px;
    /* padding-left: 0px; */
}

.inline input{
    width: auto;
}

::placeholder {
    color: gray;
    font-size: small;
    font-weight: 400;
    opacity: 1; /* Firefox */
}

.create-button{
    width: 100%;
    padding: 5px;
    /* width: auto; */
    background-color: rgb(88, 8, 216);
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

.form p{
    display:inline-block; 
    font-weight: 500; 
    font-size: small;
    text-align: center;
}

.point{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-top: 20px;
}